@model IEnumerable<Exercise>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/catalog.css" />
</head>

<header>
    <div class="hdrcontent container">
        <div class="gi">
            <div class="giv1">
                <h1 class="edgyname">【ｇａｉｎｓ　ｉｎｄｅｘ】</h1>
                <h1 class="v1">version 1</h1>
            </div>
            <p class="desc">track your workout routines</p>
        </div>
        <div class="homelink">
            <a class="github" asp-controller="Exercise" asp-action="Home">⌂<i> Home </i>⌂</a>
            <a class="github" asp-controller="Home" asp-action="About">⌂<i> About </i>⌂</a>
            <a class="github" asp-controller="Exercise" asp-action="Index">⌂<i> Index </i>⌂</a>
            <a href="https://github.com/Geordie404/GainsIndex-v1">⌂<i> GitHub </i>⌂</a>
            
        </div>
    </div>
</header>


<body>
<div class="container">
<div class="catalog">
    <h1><i>Catalog</i><img class="pkmn" src="https://img.pokemondb.net/sprites/sword-shield/icon/wobbuffet.png">&nbsp&nbsp<a asp-action="Catalog">Unfilter</a></h1>
    <h3>Filter Catalog by...</h3>

    <div class="filters">
                @* filter for name input *@
                <form asp-action="Catalog" method="get">
                    <div class="form-actions no-color" style="display: flex; flex-direction: row">
                            <input type="text"  name="name_filter" placeholder="Name" style="width:80px; height:100%" />
                            <input type="image" src="https://i.pinimg.com/originals/7c/9d/fb/7c9dfba364d22e9318aaa63bab6c8658.gif" height="30" width="30" alt="Submit Form" />
                    </div>
                </form>

                @* filter for motion input *@
                <form asp-action="Catalog" method="get">
                    <div class="form-actions no-color" style="display: flex; flex-direction: row">
                        
                        <select name="motion_filter" style="width:80px; height:100%">
                            <option value="">Motion</option>
                            <option value="Push">Push</option>
                            <option value="Pull">Pull</option>
                            <option value="Hinge">Hinge</option>
                            <option value="Bend">Bend</option>
                        </select>
                        <input type="image" src="https://i.pinimg.com/originals/7c/9d/fb/7c9dfba364d22e9318aaa63bab6c8658.gif" height="30" width="30" alt="Submit Form" />
                        
                    </div>
                </form>

                @* filter for focus input *@
                <form asp-action="Catalog" method="get">
                    <div class="form-actions no-color" style="display: flex; flex-direction: row;">
                        
                        <select name="focus_filter" style="width:80px; height:100%">
                            <option value="">Focus</option>
                            <option value="Arms">Arms</option>
                            <option value="Chest">Chest</option>
                            <option value="Shoulders">Shoulders</option>
                            <option value="Back">Back</option>
                            <option value="Abdominals">Abdominals</option>
                            <option value="Glutes">Glutes</option>
                            <option value="Legs">Legs</option>
                        </select>
                        <input type="image" src="https://i.pinimg.com/originals/7c/9d/fb/7c9dfba364d22e9318aaa63bab6c8658.gif" height="30" width="30" alt="Submit Form" />
                        
                    </div>
                </form>
    </div>
    <div class="cisecards">
    @foreach (var item in Model) {
        <div class="card">
            <div class="cisename"><h2 class="cardname">@Html.DisplayFor(modelItem => item.exercise_name)</h2></div>
            <div class="attributes">
                @* <p>Sets: @Html.DisplayFor(modelItem => item.sets) Reps: @Html.DisplayFor(modelItem => item.reps)</p>
                <p>Bella Weight: @Html.DisplayFor(modelItem => item.ww_bella)</p>
                <p>Geo Weight: @Html.DisplayFor(modelItem => item.ww_geo)</p> *@
            </div>
            <div class="cardbtn"><a asp-action="Details" asp-route-id="@item.id"><p>Details</p></a></div>
        </div>
    }
    </div>
</div>
</div>


</body>