@model Exercise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.exercise_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.exercise_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ww_bella)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ww_bella)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ww_geo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ww_geo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.target_muscle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.target_muscle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motion_group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.motion_group)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.body_focus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.body_focus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.exercise_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.exercise_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bella_monday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bella_monday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bella_tuesday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bella_tuesday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bella_wednesday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bella_wednesday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bella_thursday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bella_thursday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bella_friday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bella_friday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bella_weekend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bella_weekend)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.geo_monday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.geo_monday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.geo_tuesday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.geo_tuesday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.geo_wednesday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.geo_wednesday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.geo_thursday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.geo_thursday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.geo_friday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.geo_friday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.geo_weekend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.geo_weekend)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
