@model Exercise

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/query.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/table.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/sides.css" />
</head>

<style>
    div.scroll{
        overflow-y: auto;
        max-height: 150px;
        background:rgba(0,0,0,0.05);
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
</style>

<div class="container">
    <h1>@Html.DisplayFor(m => m.exercise_name) Details</h1>

    <hr />
    @* Reformated Details *@
    <div class="scroll">@Html.DisplayFor(model => model.details)</div>
    <div><b>Target Muscle: </b>@Html.DisplayFor(model => model.target_muscle)</div>
    <div><b>Motion Group: </b>@Html.DisplayFor(model => model.motion_group)</div>
    <div><b>Body Focus: </b>@Html.DisplayFor(model => model.body_focus)</div>
    <div><b>Exercise Complexity: </b>@Html.DisplayFor(model => model.exercise_type)</div>
    <div><b>Sets: </b>@Html.DisplayFor(model => model.sets)<b>&nbsp| Reps: </b>@Html.DisplayFor(model => model.reps)</div>
    <div><b>Bella Working Weight: </b>@Html.DisplayFor(model => model.ww_bella)</div>
    <div><b>Geo Working Weight: </b>@Html.DisplayFor(model => model.ww_geo)</div>
    <br>

    <div class="col-md-5">
        @* TABLE FOR DAYS *@

        <table class="daytable table">
            <thead>
                <tr>
                    <th></th><th>M</th><th>T</th><th>W</th><th>Th</th><th>F</th><th>Wknd</th>
                </tr>
            </thead>
            <tbody>
                @* Row for Bella *@
                <tr>
                    <td>
                        Bella
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.bella_monday)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.bella_tuesday)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.bella_wednesday)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.bella_thursday)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.bella_friday)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.bella_weekend)
                    </td>
                </tr>
                @* Row for Geo *@
                <tr>
                    <td>
                        Geo
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.geo_monday)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.geo_tuesday)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.geo_wednesday)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.geo_thursday)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.geo_friday)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.geo_weekend)
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    <div>
</div>
 

<div class="form-group">
    <a asp-action="Log" class="btn btn-primary" asp-route-id="@Model?.id">Log</a>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.id">Edit</a>
    <a asp-action="Home" class="btn btn-primary">Home</a>
    <a asp-action="Catalog" class="btn btn-primary">Catalog</a>
    <a asp-action="Index" class="btn btn-primary">Index</a>
 </div>
