@model Exercise

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/query.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/table.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/sides.css" />
</head>


<div class="container">
<h1>Edit Exercise</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />

            @* Razor for exercise name *@
            <div class="form-group">
                @Html.TextBoxFor(m => m.exercise_name)
                <span asp-validation-for="exercise_name" class="text-danger"></span>
                <label asp-for="exercise_name" class="control-label">Exercise Name</label>
            </div>
 
            @* Razor TextBox for target muscle *@
            <div class="form-group">
                @Html.TextBoxFor(m => m.target_muscle)
                <span asp-validation-for="target_muscle" class="text-danger"></span>
                <label asp-for="target_muscle" class="control-label">Target Muscle</label>
            </div>
 
            @* Razor TextBox for sets *@
            <div class="form-group">
                @Html.TextBoxFor(m => m.sets)
                <span asp-validation-for="sets" class="text-danger"></span>
                <label asp-for="sets" class="control-label"></label>
            </div>
 
            @* Razor TextBox for reps *@
            <div class="form-group">
                @Html.TextBoxFor(m => m.reps)
                <span asp-validation-for="reps" class="text-danger"></span>
                <label asp-for="reps" class="control-label"></label>
            </div>
            
            @* Razor TextBox for bella workign weight *@
            <div class="form-group">
                @Html.TextBoxFor(m => m.ww_bella)
                <span asp-validation-for="ww_bella" class="text-danger"></span>
                <label asp-for="ww_bella" class="control-label">Bella Working Weight</label>
            </div>
 
            @* Razor TextBox for geordie workign weight *@
            <div class="form-group">
                @Html.TextBoxFor(m => m.ww_geo)
                <span asp-validation-for="ww_geo" class="text-danger"></span>
                <label asp-for="ww_geo" class="control-label">Geo Working Weight</label>
            </div>
 
            @* Razor SelectList for motion/ body focus/ complexity enums *@
            <div class="form-group">
                @Html.DropDownListFor(m => m.motion_group, new SelectList(Enum.GetValues(typeof(Motion))))
                <span asp-validation-for="motion_group" class="text-danger"></span>
                @Html.DropDownListFor(m => m.body_focus, new SelectList(Enum.GetValues(typeof(Focus))))
                <span asp-validation-for="body_focus" class="text-danger"></span>
                @Html.DropDownListFor(m => m.exercise_type, new SelectList(Enum.GetValues(typeof(Complexity))))
                <span asp-validation-for="exercise_type" class="text-danger"></span>
            </div>

            @* Razor TextArea for details *@
            <div class="form-group">
                <label asp-for="details" class="control-label"></label>
                @Html.TextAreaFor(m => m.details, new { cols="50", rows="4" })
                <span asp-validation-for="details" class="text-danger"></span>
            </div>
           

            @* TABLE FOR DAYS *@
            <table class="daytable table">
                <thead>
                    <tr>
                        <th></th><th>M</th><th>T</th><th>W</th><th>Th</th><th>F</th><th>Wknd</th>
                    </tr>
                </thead>
                <tbody>
                    @* Row for Bella *@
                    <tr>
                        <td>
                            Bella
                        </td>
                        <td>
                            <div class="form-group form-check"> 
                            <label class="form-check-label">
                            <input class="form-check-input" asp-for="bella_monday"/>
                            </label></div>
                        </td>
                        <td>
                            <div class="form-group form-check"> 
                            <label class="form-check-label">
                            <input class="form-check-input" asp-for="bella_tuesday"/>
                            </label></div>
                        </td>
                        <td>
                            <div class="form-group form-check"> 
                            <label class="form-check-label">
                            <input class="form-check-input" asp-for="bella_wednesday"/>
                            </label></div>
                        </td>
                        <td>
                            <div class="form-group form-check"> 
                            <label class="form-check-label">
                            <input class="form-check-input" asp-for="bella_thursday"/>
                            </label></div>
                        </td>
                        <td>
                            <div class="form-group form-check"> 
                            <label class="form-check-label">
                            <input class="form-check-input" asp-for="bella_friday"/>
                            </label></div>
                        </td>
                        <td>
                            <div class="form-group form-check"> 
                            <label class="form-check-label">
                            <input class="form-check-input" asp-for="bella_weekend"/>
                            </label></div>
                        </td>
                    </tr>
                    @* Row for Geo *@
                    <tr>
                        <td>
                            Geo
                        </td>
                        <td>
                            <div class="form-group form-check"> 
                            <label class="form-check-label">
                            <input class="form-check-input" asp-for="geo_monday"/>
                            </label></div>
                        </td>
                        <td>
                            <div class="form-group form-check"> 
                            <label class="form-check-label">
                            <input class="form-check-input" asp-for="geo_tuesday"/>
                            </label></div>
                        </td>
                        <td>
                            <div class="form-group form-check"> 
                            <label class="form-check-label">
                            <input class="form-check-input" asp-for="geo_wednesday"/>
                            </label></div>
                        </td>
                        <td>
                            <div class="form-group form-check"> 
                            <label class="form-check-label">
                            <input class="form-check-input" asp-for="geo_thursday"/>
                            </label></div>
                        </td>
                        <td>
                            <div class="form-group form-check"> 
                            <label class="form-check-label">
                            <input class="form-check-input" asp-for="geo_friday"/>
                            </label></div>
                        </td>
                        <td>
                            <div class="form-group form-check"> 
                            <label class="form-check-label">
                            <input class="form-check-input" asp-for="geo_weekend"/>
                            </label></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Delete" class="btn btn-primary" asp-route-id="@Model?.id">Delete</a>
                <a asp-action="Home" class="btn btn-primary">Home</a>
                <a asp-action="Index" class="btn btn-primary">Index</a>
            </div>
        </form>
    </div>
</div>

</div>

