@model Exercise

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Exercise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />


             @* Razor for exercise name *@
            <div class="form-group">
                <label asp-for="exercise_name" class="control-label"></label>
                @Html.TextBoxFor(m => m.exercise_name)
                <span asp-validation-for="exercise_name" class="text-danger"></span>
            </div>
 
            @* Razor TextArea for details *@
            <div class="form-group">
                <label asp-for="details" class="control-label"></label>
                @Html.TextAreaFor(m => m.details, new { cols="50", rows="10" })
                <span asp-validation-for="details" class="text-danger"></span>
            </div>
 
            @* Razor TextBox for bella workign weight *@
            <div class="form-group">
                <label asp-for="ww_bella" class="control-label"></label>
                @Html.TextBoxFor(m => m.ww_bella)
                <span asp-validation-for="ww_bella" class="text-danger"></span>
            </div>
 
            @* Razor TextBox for geordie workign weight *@
            <div class="form-group">
                <label asp-for="ww_geo" class="control-label"></label>
                @Html.TextBoxFor(m => m.ww_geo)
                <span asp-validation-for="ww_geo" class="text-danger"></span>
            </div>
 
            @* Razor TextBox for target muscle *@
            <div class="form-group">
                <label asp-for="target_muscle" class="control-label"></label>
                @Html.TextBoxFor(m => m.target_muscle)
                <span asp-validation-for="target_muscle" class="text-danger"></span>
            </div>
 
            @* Razor TextBox for sets *@
            <div class="form-group">
                <label asp-for="sets" class="control-label"></label>
                @Html.TextBoxFor(m => m.sets)
                <span asp-validation-for="sets" class="text-danger"></span>
            </div>
 
            @* Razor TextBox for reps *@
            <div class="form-group">
                <label asp-for="reps" class="control-label"></label>
                @Html.TextBoxFor(m => m.reps)
                <span asp-validation-for="reps" class="text-danger"></span>
            </div>
 
            @* Razor SelectList for motion_group enum *@
            <div class="form-group">
                <label asp-for="motion_group" class="control-label"></label>
                @Html.DropDownListFor(m => m.motion_group, new SelectList(Enum.GetValues(typeof(Motion))), "Motion Type")
                <span asp-validation-for="motion_group" class="text-danger"></span>
            </div>
 
            @* Razor SelectList for body_focus enum *@
            <div class="form-group">
                <label asp-for="body_focus" class="control-label"></label>
                @Html.DropDownListFor(m => m.body_focus, new SelectList(Enum.GetValues(typeof(Focus))), "Body Focus")
                <span asp-validation-for="body_focus" class="text-danger"></span>
            </div>
 
            @* Razor SelectList for exercise_type enum *@
            <div class="form-group">
                <label asp-for="exercise_type" class="control-label"></label>
                @Html.DropDownListFor(m => m.exercise_type, new SelectList(Enum.GetValues(typeof(Complexity))), "Complexity Type")
                <span asp-validation-for="exercise_type" class="text-danger"></span>
            </div>
           

            @* BOOLS for days *@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="bella_sunday" /> @Html.DisplayNameFor(model => model.bella_sunday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="bella_monday" /> @Html.DisplayNameFor(model => model.bella_monday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="bella_tuesday" /> @Html.DisplayNameFor(model => model.bella_tuesday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="bella_wednesday" /> @Html.DisplayNameFor(model => model.bella_wednesday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="bella_thursday" /> @Html.DisplayNameFor(model => model.bella_thursday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="bella_friday" /> @Html.DisplayNameFor(model => model.bella_friday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="bella_saturday" /> @Html.DisplayNameFor(model => model.bella_saturday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="geo_sunday" /> @Html.DisplayNameFor(model => model.geo_sunday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="geo_monday" /> @Html.DisplayNameFor(model => model.geo_monday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="geo_tuesday" /> @Html.DisplayNameFor(model => model.geo_tuesday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="geo_wednesday" /> @Html.DisplayNameFor(model => model.geo_wednesday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="geo_thursday" /> @Html.DisplayNameFor(model => model.geo_thursday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="geo_friday" /> @Html.DisplayNameFor(model => model.geo_friday)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="geo_saturday" /> @Html.DisplayNameFor(model => model.geo_saturday)
                </label>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

