@model IEnumerable<Exercise>

@* WORK OUT INDEX - HOME PAGE *@

@{
    ViewData["Title"] = "GAINS INDEX";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/home.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script> @* day sort *@
        $(document).ready(function(){
            $("select").change(function(){
                $(this).find("option:selected").each(function(){
                    var optionValue = $(this).attr("value");
                    if(optionValue){
                        $(".day").not("." + optionValue).hide();
                        $("." + optionValue).show();
                    } else{
                        $(".day").hide();
                    }
                });
            }).change();
        });
    </script>
    
    <script> @* toggle *@
        $(document).ready(function(){
             $(".bella").show();
             $(".geo").hide();
            $("#bella").click(function(){
                $(".bella").show();
                 $(".geo").hide();
            });
            $("#geo").click(function(){
                $(".geo").show();
                $(".bella").hide();
            });
        });
        $(document).ready(function(){
        $(".switch input").on("change", function(e) {
            const isOn = e.currentTarget.checked;
            if (isOn) {
                $(".bella").hide();
                $(".geo").show();
            } else {
                $(".geo").hide();
                $(".bella").show();
            }
            });
        });
    </script>

</head>

<header>
    <div class="gi">
        <h1 class="woi">【ｇａｉｎｓ　ｉｎｄｅｘ】</h1>
        <h1 class="bark">version 1</h1>
    </div>
    <p class="desc">track your workout routines</p>
    <a href="https://github.com/Geordie404/GainsIndex-v1"><p class="github">github repo</p></a>
    <a class="github" asp-controller="Exercise" asp-action="Catalog"><i>catalog</i></a>
    <a class="github" asp-controller="Exercise" asp-action="Index"><i>INDEX :-B</i></a>
</header>

<div class="woibox">
    @* select day *@
    <div> 
        <select>
            <option>Choose Day</option>
            <option value="monday">Monday</option>
          	<option value="tuesday">Tuesday</option>
            <option value="wednesday">Wednesday</option>
            <option value="thursday">Thursday</option>
            <option value="friday">Friday</option>
            <option value="weekend">Weekend</option>
        </select>
    </div>
    @* toggle button *@
    <div>
        <div class="tglbox">
        <p class="lbltext">user:</p>
        <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
        </label>
        </div>
    </div>
    @* user name display *@
    <div class="user">
        <p><pre><strong>Today's workout for: </strong><br></pre></p>
        <p class="bella">bellllla!</p>
        <p class="geo">GEO.</p>
    </div>

<div class="monday day">
@foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_monday)
    {
        <div class="bella cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        <p>@Html.DisplayFor(modelItem => item.bella_monday) monday</p>
        </div>
    }
    </div>
    <div class="geo">
     @if (item.geo_monday)
    {
        <div class="geo cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        <p>@Html.DisplayFor(modelItem => item.geo_monday) g monday</p>
        </div>
    }
    </div>
}
</div>

<div class="tuesday day">
@foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_tuesday)
    {
        <div class="cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        <p>@Html.DisplayFor(modelItem => item.bella_tuesday) tuesday</p>
        </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_tuesday)
    {
        <div class="geotuesday cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        <p>@Html.DisplayFor(modelItem => item.geo_tuesday) g tuesday</p>
        </div>
    }
    </div>
}
</div>

<div class="wednesday day">
@foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_wednesday)
    {
        <div class="cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        <p>@Html.DisplayFor(modelItem => item.bella_wednesday) wedsyy</p>
        </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_wednesday)
    {
        <div class="cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        <p>@Html.DisplayFor(modelItem => item.geo_wednesday) g wednesday</p>
        </div>
    }
    </div>
}

<div class="thursday day">
@foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_thursday)
    {
        <div class="cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        <p>@Html.DisplayFor(modelItem => item.bella_thursday) b thursday </p>
        </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_thursday)
    {
        <div class="cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        <p>@Html.DisplayFor(modelItem => item.geo_thursday) g thursday</p>
        </div>
    }
    </div>
}

<div class="friday day">
@foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_friday)
    {
        <div class="cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        <p>@Html.DisplayFor(modelItem => item.bella_friday) b friii </p>
        </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_friday)
    {
        <div class="cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        <p>@Html.DisplayFor(modelItem => item.geo_friday) g friii </p>
        </div>
    }
    </div>
}

<div class="weekend day">
@foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_weekend)
    {
        <div class="cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        <p>@Html.DisplayFor(modelItem => item.bella_weekend) wknd </p>
        </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_weekend)
    {
        <div class="cbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        <p>@Html.DisplayFor(modelItem => item.geo_weekend) g wknd </p>
        </div>
    }
    </div>
}

</div>

