@model IEnumerable<Exercise>

@* WORK OUT INDEX - HOME PAGE *@

@{
    ViewData["Title"] = "GAINS INDEX";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/header.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/home.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/query.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    @* Populate the drop down default value with current day *@
    <script>
        var dayValue =  new Date().toLocaleDateString('en', {weekday:'long'});
        $(document).ready(function(){
            $("#test1").text(`${dayValue}`);
        });
        $(function() {
            $("#selectDay").val(`${dayValue}`)
        });
    </script>

    <script> @* day sort *@
        $(document).ready(function(){
            $("select").change(function(){
                $(this).find("option:selected").each(function(){
                    var optionValue = $(this).attr("value");
                    if(optionValue){
                        $(".day").not("." + optionValue).hide();
                        $("." + optionValue).show();
                    } else{
                        $(".day").hide();
                    }
                });
            }).change();
        });
    </script>
    
    <script> @* toggle *@
        $(document).ready(function(){
             $(".bella").show();
             $(".geo").hide();
            $("#bella").click(function(){
                $(".bella").show();
                 $(".geo").hide();
            });
            $("#geo").click(function(){
                $(".geo").show();
                $(".bella").hide();
            });
        });

        $(document).ready(function(){
        $(".switch input").on("change", function(e) {
            const isOn = e.currentTarget.checked;
            if (isOn) {
                $(".bella").hide();
                $(".geo").show();
            } else {
                $(".geo").hide();
                $(".bella").show();
            }
            });
        });
    </script>

</head>

<header class="ghead">
    <div class="gains">
    <div class="gi">
        <h1 class="woi">【ｇａｉｎｓ　ｉｎｄｅｘ】</h1>
        <h1 class="v1">v1</h1>
    </div>
    <p class="desc">track your workout routines</p>
    <div class="links">
        <a class="github" asp-controller="Exercise" asp-action="Catalog"><i>Catalog</i></a>
        <a class="github" asp-controller="Exercise" asp-action="Index"><i>Index</i></a>
        <a class="github" asp-controller="Home" asp-action="About"><i>About</i></a>
        <a class="github" href="https://github.com/Geordie404/GainsIndex-v1">GitHub</a>
    </div>
    </div>
</header>

<h4 class="todayis"><p>Today is&nbsp;<p id="test1">crap</p>.</p></h4>

<div class="weekdayfetch">
        <div class="usrday">
        @* user name display *@
        <div class="username"><span class="bella">Isabella</span><span class="geo">Geordie</span>'s workout for</div>
        
        @* select day *@
        <div class="selectday">
        <select id="selectDay"> 
            <option value="Monday">Monday</option>
          	<option value="Tuesday">Tuesday</option>
          	<option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Weekend</option>
        </select> 
        </div>

        </div>
        
         @* toggle button *@
        <span class="tglbox">
        <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
        </label>
        </span>

</div>

<div class="cisecards">  

    @* MONDAY *@
    <div class="Monday day">
    @foreach (var item in Model) {
    <div class="bella">
        @if (item.bella_monday)
        {
            <div class="bbox cardbox">
                <header><h2>@Html.DisplayFor(modelItem => item.exercise_name)</h2></header>
                <div class="srww">
                <div class="sr"><p>Sets: @Html.DisplayFor(modelItem => item.sets)</p>
                <p>Reps: @Html.DisplayFor(modelItem => item.reps)</p></div>
                <div class="ww"><p>Working Weight: @Html.DisplayFor(modelItem => item.ww_bella)</p></div>
                </div>
                <footer><a class="btn btn-primary" asp-action="Log" asp-route-id="@item.id">Log =></a></footer>
            </div>
        }
    </div>
    <div class="geo">
        @if (item.geo_monday)
        {
            <div class="gbox cardbox">
                <header><h2>@Html.DisplayFor(modelItem => item.exercise_name)</h2></header>
                <div class="srww">
                <div class="sr"><p>Sets: @Html.DisplayFor(modelItem => item.sets)</p>
                <p>Reps: @Html.DisplayFor(modelItem => item.reps)</p></div>
                <div class="ww"><p>Working Weight: @Html.DisplayFor(modelItem => item.ww_geo)</p></div>
                </div>
                <footer><a class="btn btn-primary" asp-action="Log" asp-route-id="@item.id">Log =></a></footer>
            </div>
        }
    </div>
    }
    </div>

    @* TUESDAY *@
    <div class="Tuesday day">
    @foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_tuesday)
    {
          <div class="bbox cardbox">
                <header><h2>@Html.DisplayFor(modelItem => item.exercise_name)</h2></header>
                <div class="srww">
                <div class="sr"><p>Sets: @Html.DisplayFor(modelItem => item.sets)</p>
                <p>Reps: @Html.DisplayFor(modelItem => item.reps)</p></div>
                <div class="ww"><p>Working Weight: @Html.DisplayFor(modelItem => item.ww_bella)</p></div>
                </div>
                <footer><a class="btn btn-primary" asp-action="Log" asp-route-id="@item.id">Log =></a></footer>
            </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_tuesday)
    {
        <div class="gbox cardbox">
                <header><h2>@Html.DisplayFor(modelItem => item.exercise_name)</h2></header>
                <div class="srww">
                <div class="sr"><p>Sets: @Html.DisplayFor(modelItem => item.sets)</p>
                <p>Reps: @Html.DisplayFor(modelItem => item.reps)</p></div>
                <div class="ww"><p>Working Weight: @Html.DisplayFor(modelItem => item.ww_geo)</p></div>
                </div>
                <footer><a class="btn btn-primary" asp-action="Log" asp-route-id="@item.id">Log =></a></footer>
        </div>
    }
    </div>
    }
    </div>

    @* WEDNESDAY *@
    <div class="Wednesday day">
    @foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_wednesday)
    {
         <div class="bbox cardbox">
                <header><h2>@Html.DisplayFor(modelItem => item.exercise_name)</h2></header>
                <div class="srww">
                <div class="sr"><p>Sets: @Html.DisplayFor(modelItem => item.sets)</p>
                <p>Reps: @Html.DisplayFor(modelItem => item.reps)</p></div>
                <div class="ww"><p>Working Weight: @Html.DisplayFor(modelItem => item.ww_bella)</p></div>
                </div>
                <footer><a class="btn btn-primary" asp-action="Log" asp-route-id="@item.id">Log =></a></footer>
            </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_wednesday)
    {
        <div class="gbox cardbox">
                <header><h2>@Html.DisplayFor(modelItem => item.exercise_name)</h2></header>
                <div class="srww">
                <div class="sr"><p>Sets: @Html.DisplayFor(modelItem => item.sets)</p>
                <p>Reps: @Html.DisplayFor(modelItem => item.reps)</p></div>
                <div class="ww"><p>Working Weight: @Html.DisplayFor(modelItem => item.ww_geo)</p></div>
                </div>
                <footer><a class="btn btn-primary" asp-action="Log" asp-route-id="@item.id">Log =></a></footer>
        </div>
    }
    </div>
    }
    </div>

    @* THURSDAY *@
    <div class="Thursday day">
    @foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_thursday)
    {
          <div class="bbox cardbox">
                <header><h2>@Html.DisplayFor(modelItem => item.exercise_name)</h2></header>
                <div class="srww">
                <div class="sr"><p>Sets: @Html.DisplayFor(modelItem => item.sets)</p>
                <p>Reps: @Html.DisplayFor(modelItem => item.reps)</p></div>
                <div class="ww"><p>Working Weight: @Html.DisplayFor(modelItem => item.ww_bella)</p></div>
                </div>
                <footer><a class="btn btn-primary" asp-action="Log" asp-route-id="@item.id">Log =></a></footer>
            </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_thursday)
    {
        <div class="gbox cardbox">
                <header><h2>@Html.DisplayFor(modelItem => item.exercise_name)</h2></header>
                <div class="srww">
                <div class="sr"><p>Sets: @Html.DisplayFor(modelItem => item.sets)</p>
                <p>Reps: @Html.DisplayFor(modelItem => item.reps)</p></div>
                <div class="ww"><p>Working Weight: @Html.DisplayFor(modelItem => item.ww_geo)</p></div>
                </div>
                <footer><a class="btn btn-primary" asp-action="Log" asp-route-id="@item.id">Log =></a></footer>
        </div>
    }
    </div>
    }
    </div>

    @* FRIDAY *@
    <div class="Friday day">
    @foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_friday)
    {
          <div class="bbox cardbox">
                <header><h2>@Html.DisplayFor(modelItem => item.exercise_name)</h2></header>
                <div class="srww">
                <div class="sr"><p>Sets: @Html.DisplayFor(modelItem => item.sets)</p>
                <p>Reps: @Html.DisplayFor(modelItem => item.reps)</p></div>
                <div class="ww"><p>Working Weight: @Html.DisplayFor(modelItem => item.ww_bella)</p></div>
                </div>
                <footer><a class="btn btn-primary" asp-action="Log" asp-route-id="@item.id">Log =></a></footer>
            </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_friday)
    {
        <div class="gbox cardbox">
                <header><h2>@Html.DisplayFor(modelItem => item.exercise_name)</h2></header>
                <div class="srww">
                <div class="sr"><p>Sets: @Html.DisplayFor(modelItem => item.sets)</p>
                <p>Reps: @Html.DisplayFor(modelItem => item.reps)</p></div>
                <div class="ww"><p>Working Weight: @Html.DisplayFor(modelItem => item.ww_geo)</p></div>
                </div>
                <footer><a class="btn btn-primary" asp-action="Log" asp-route-id="@item.id">Log =></a></footer>
        </div>
    }
    </div>
    }
    </div>

    @* WEEKEND *@
    <div class="Saturday Sunday day">
    @foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_weekend)
    {
         <div class="bbox cardbox">
                <header><h2>@Html.DisplayFor(modelItem => item.exercise_name)</h2></header>
                <div class="srww">
                <div class="sr"><p>Sets: @Html.DisplayFor(modelItem => item.sets)</p>
                <p>Reps: @Html.DisplayFor(modelItem => item.reps)</p></div>
                <div class="ww"><p>Working Weight: @Html.DisplayFor(modelItem => item.ww_bella)</p></div>
                </div>
                <footer><a class="btn btn-primary" asp-action="Log" asp-route-id="@item.id">Log =></a></footer>
         </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_weekend)
    {
        <div class="gbox cardbox">
                <header><h2>@Html.DisplayFor(modelItem => item.exercise_name)</h2></header>
                <div class="srww">
                <div class="sr"><p>Sets: @Html.DisplayFor(modelItem => item.sets)</p>
                <p>Reps: @Html.DisplayFor(modelItem => item.reps)</p></div>
                <div class="ww"><p>Working Weight: @Html.DisplayFor(modelItem => item.ww_geo)</p></div>
                </div>
                <footer><a class="btn btn-primary" asp-action="Log" asp-route-id="@item.id">Log =></a></footer>
        </div>
    }
    </div>
    }
    </div>

</div>


