@model IEnumerable<Exercise>

@* WORK OUT INDEX - HOME PAGE *@

@{
    ViewData["Title"] = "GAINS INDEX";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/home.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    @* Populate the drop down default value with current day *@
    <script>
        var dayValue =  new Date().toLocaleDateString('en', {weekday:'long'});
        $(function() {
            $("#selectDay").val(`${dayValue}`)
    });
    </script>

    <script> @* day sort *@
        $(document).ready(function(){
            $("select").change(function(){
                $(this).find("option:selected").each(function(){
                    var optionValue = $(this).attr("value");
                    if(optionValue){
                        $(".day").not("." + optionValue).hide();
                        $("." + optionValue).show();
                    } else{
                        $(".day").hide();
                    }
                });
            }).change();
        });
    </script>
    
    <script> @* toggle *@
        $(document).ready(function(){
             $(".bella").show();
             $(".geo").hide();
            $("#bella").click(function(){
                $(".bella").show();
                 $(".geo").hide();
            });
            $("#geo").click(function(){
                $(".geo").show();
                $(".bella").hide();
            });
        });

        $(document).ready(function(){
        $(".switch input").on("change", function(e) {
            const isOn = e.currentTarget.checked;
            if (isOn) {
                $(".bella").hide();
                $(".geo").show();
            } else {
                $(".geo").hide();
                $(".bella").show();
            }
            });
        });
    </script>

</head>

<header>
    <div class="gi">
        <h1 class="woi">【ｇａｉｎｓ　ｉｎｄｅｘ】</h1>
        <h1 class="v1">v1</h1>
    </div>
    <p class="desc">track your workout routines</p>
    <div class="links">
        <a href="https://github.com/Geordie404/GainsIndex-v1"><p class="github">github repo</p></a>
        <a class="github" asp-controller="Exercise" asp-action="Catalog"><i>catalog</i></a>
        <a class="github" asp-controller="Exercise" asp-action="Index"><i>INDEX :-B</i></a>
    </div>
</header>

<div class="weekdayfetch"> 
         @* toggle button *@
        <span class="tglbox">
        <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
        </label>
        </span>

        @* user name display *@
        <span class="bella">Isabella</span> <span class="geo">Geordie</span>'s workout for 
        
        @* select day *@
        <select id="selectDay"> 
            <option value="Monday">Monday</option>
          	<option value="Tuesday">Tuesday</option>
          	<option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Weekend</option>
        </select> 
</div>

<div class="wocards">  

    @* MONDAY *@
    <div class="Monday day">
    @foreach (var item in Model) {
    <div class="bella">
        @if (item.bella_monday)
        {
            <div class="bbox">
                <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
                <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
                <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
                <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
            </div>
        }
    </div>
    <div class="geo">
        @if (item.geo_monday)
        {
            <div class="gbox">
            <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
            <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
            <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
            <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
            </div>
        }
    </div>
    }
    </div>

    @* TUESDAY *@
    <div class="Tuesday day">
    @foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_tuesday)
    {
        <div class="bbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_tuesday)
    {
        <div class="gbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        </div>
    }
    </div>
    }
    </div>

    @* WEDNESDAY *@
    <div class="Wednesday day">
    @foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_wednesday)
    {
        <div class="bbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_wednesday)
    {
        <div class="gbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        </div>
    }
    </div>
    }
    </div>

    @* THURSDAY *@
    <div class="Thursday day">
    @foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_thursday)
    {
        <div class="bbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_thursday)
    {
        <div class="gbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        </div>
    }
    </div>
    }
    </div>

    @* FRIDAY *@
    <div class="Friday day">
    @foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_friday)
    {
        <div class="bbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_friday)
    {
        <div class="gbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        </div>
    }
    </div>
    }
    </div>

    @* WEEKEND *@
    <div class="Saturday Sunday day">
    @foreach (var item in Model) {
    <div class="bella">
    @if (item.bella_weekend)
    {
        <div class="bbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        </div>
    }
    </div>
    <div class="geo">
    @if (item.geo_weekend)
    {
        <div class="gbox">
        <h2 class="woi">@Html.DisplayFor(modelItem => item.exercise_name)</h2>
        <p>Motion: @Html.DisplayFor(modelItem => item.motion_group)</p>
        <p>Focus: @Html.DisplayFor(modelItem => item.body_focus)</p>
        <p>Type: @Html.DisplayFor(modelItem => item.exercise_type)</p>
        </div>
    }
    </div>
    }
    </div>

</div>


