@model IEnumerable<Exercise>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.exercise_name)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ww_bella)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ww_geo)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.target_muscle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.motion_group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.body_focus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.exercise_type)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.bella_sunday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bella_monday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bella_tuesday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bella_wednesday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bella_thursday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bella_friday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bella_saturday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.geo_sunday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.geo_monday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.geo_tuesday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.geo_wednesday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.geo_thursday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.geo_friday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.geo_saturday)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.exercise_name)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ww_bella)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ww_geo)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.target_muscle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motion_group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.body_focus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exercise_type)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.bella_sunday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bella_monday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bella_tuesday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bella_wednesday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bella_thursday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bella_friday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bella_saturday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.geo_sunday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.geo_monday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.geo_tuesday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.geo_wednesday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.geo_thursday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.geo_friday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.geo_saturday)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
