@model IEnumerable<Exercise>

<h1>【 ｇａｉｎｓ　ｉｎｄｅｘ】</h1>

<div class ="container">

<table class="table">
    <tbody>
        <tr>
            <td>
                <a asp-action="Create">New Exercise</a>
            </td>
        </tr>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.exercise_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Log" asp-route-id="@item.id">Log</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>